(
  assets:
   [ 
    ("Container", File ( path: "blueprints/Container.glb" )),
    ("Sensor_material", File ( path: "materials/Sensor_material.glb" )),
    ("Env_blue", File ( path: "materials/Env_blue.glb" )),
    ("Collider_material", File ( path: "materials/Collider_material.glb" )),
    ("Pillar", File ( path: "blueprints/Pillar.glb" )),
    ("Env_orange", File ( path: "materials/Env_orange.glb" )),
    ("Collider_material", File ( path: "materials/Collider_material.glb" )),
    ("Player", File ( path: "blueprints/Player.glb" )),
    ("Sensor_material", File ( path: "materials/Sensor_material.glb" )),
    ("Env_blue", File ( path: "materials/Env_blue.glb" )),
    ("Collider_material", File ( path: "materials/Collider_material.glb" )),
    ("Health_Pickup", File ( path: "blueprints/Health_Pickup.glb" )),
    ("Glowy", File ( path: "materials/Glowy.glb" )),
    ("MagicTeapot", File ( path: "blueprints/MagicTeapot.glb" )),
    ("Collider_material", File ( path: "materials/Collider_material.glb" )),
    ("Enemy", File ( path: "blueprints/Enemy.glb" )),
    ("Humanoid_cactus", File ( path: "blueprints/Humanoid_cactus.glb" )),
    ("Hand", File ( path: "blueprints/Hand.glb" )),
    ("Finger", File ( path: "blueprints/Finger.glb" )),
    ("Finger", File ( path: "blueprints/Finger.glb" )),
    ("Finger", File ( path: "blueprints/Finger.glb" )),
    ("Hand", File ( path: "blueprints/Hand.glb" )),
    ("Finger", File ( path: "blueprints/Finger.glb" )),
    ("Finger", File ( path: "blueprints/Finger.glb" )),
    ("Finger", File ( path: "blueprints/Finger.glb" )),
    ("Env_blue.001", File ( path: "materials/Env_blue.001.glb" )),
   ]
)